# General
/.vscode

# applications
/applications/**/target/
/applications/lua/*.h

# ESP-IDF
/esp32c6/**/.devcontainer/
/esp32c6/**/managed_components/
/esp32c6/**/dependencies.lock
/esp32c6/**/sdkconfig.old
/esp32c6/**/sdkconfig.ci


# Renesas
*/trash/
*/JLinkLog.log

# Tools
/tools/wasm-micro-runtime/*

# Test
#