# General
/.vscode

# applications
/applications/**/target/
/applications/lua/*.h

# ESP-IDF
*/.devcontainer/
*/managed_components/
*/dependencies.lock
*/sdkconfig.old
*/sdkconfig.ci

# Renesas
*/trash/
*/JLinkLog.log

# Tools
/tools/wasm-micro-runtime/*

# Test